<?xml version="1.0"?>
<launch>
<!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
     <arg name="world_name" value="$(find haptic_pkg)/worlds/wall_aerial.world"/> 
	<arg name="paused" default="false"/>
	<arg name="use_sim_time" default="true"/>
	<arg name="gui" default="true"/>
	<arg name="headless" default="false"/>
	<arg name="debug" default="false"/>
     </include>
<!-- Spawn robot into gazebo -->
<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" output="screen" args="-file $(find haptic_pkg)/urdf/box_with_side_box.gazebo -urdf -model floating_box -x 0 -y 0 -z 2.5"/>
          
</launch>
